.user-page {
    .userPageRightSide {
        .add-house-btn {
            margin-left: 32px;
            padding: 5px 25px;
        }

        .rightSideMain {
            padding-bottom: 22px !important;
            margin-bottom: 10px !important;

            .add-house-form {
                margin-right: 3rem;

                label {
                    display: inline-block;
                    margin-bottom: .2rem;
                    margin-top: .8rem;
                    font-weight: 600;
                }

                .add-house-area {
                    padding: 0px 0px 8px 0px;
                    border-radius: 20px;
                    display: flex;

                    .image-upload {
                        .house_photo {
                            width: 36%;
                            border: 1px solid #009444;
                            margin: 0;
                            padding: 7px 10px;
                            font-size: 14px;
                            border-radius: 5px;
                            text-align: center;
                            color: #009444;
                            font-weight: 500;
                            background: #DEFFED;
                            cursor: pointer;
                            float: left;
                        }

                        .upload_photo {
                            width: 18px;
                        }

                        #photoUpload {
                            opacity: 0;
                            position: absolute;
                            z-index: -1;
                            top: 0;
                        }
                    }
                }

                .add-house-input {
                    width: 100%;
                    border: 1px solid #eaeaea;
                    font-size: 14px;
                    padding: 8px 15px;
                    border-radius: 5px;
                }
            }
        }
    }
}