@import '../../../../sass/main';
.view-button{
   @include my-button;
   font-size: 13px !important;
   padding: 9px 17px !important;
}
.house-price{
   font-size: 32px;
   font-weight: 600;
   color: $main-color;
}